/javabegin.ru.address_book/dist/
/javabegin.ru.address_book/build/
/code.makery.addressapp/nbproject/private/
/code.makery.addressapp/dist/
/code.makery.addressapp/build/
/Animation.examples/nbproject/private/
/Animation.examples/build/
/Animation.examples/dist/
/programmingknowledge.javafx.sqllite/nbproject/private/
/programmingknowledge.javafx.sqllite/build/
/programmingknowledge.javafx.sqllite/dist/
/ListPlayer/nbproject/private/
/listPlayer/nbproject/private/
/listPlayer/build/
/listPlayer/dist/
/listPlayer - копия/build/
/listPlayer - копия/dist/
/listPlayer - копия/nbproject/private/
/daftarHargaBaju/build/
/daftarHargaBaju/dist/
/daftarHargaBaju/nbproject/private/
/musicbook/nbproject/private/
/SQLiteJava/nbproject/private/
/SQLiteJava/build/
/SQLiteJava/dist/
/Test/nbproject/private/
/Test/build/
/Test/dist/
/Test - копия/build/
/Test - копия/dist/
/Test - копия/nbproject/private/