/javabegin.ru.address_book/dist/
/javabegin.ru.address_book/build/
/code.makery.addressapp/nbproject/private/
/code.makery.addressapp/dist/
/code.makery.addressapp/build/
/Animation.examples/nbproject/private/
/Animation.examples/build/
/Animation.examples/dist/
/programmingknowledge.javafx.sqllite/nbproject/private/
/programmingknowledge.javafx.sqllite/build/
/programmingknowledge.javafx.sqllite/dist/